.sidebar-items {
    margin-top: 20px;
    align-items: start;
    
}

.sidebar-label-container {
    color: #000;
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}